#root {
    padding: 1rem;
}

#root h1 {
    margin-bottom: 1.5rem;
}

#root .feature-actresses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    min-width: max-content;
}